<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="classes">
	<listeners>
		<listener class-name="utilities.MyListener" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="testcases.GmailApp" />
			<class name="testcases.NaukriApp" />
			<class name="testcases.FacebookApp" />
			<class name="testcases.SpicejetApp" />
			<class name="testcases.Linkvalidation" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
